# Java related
target/**
*.jar
*.war
*.ear
*.class


# eclipse specific
*.pydevproject
.cproject
.autotools
.buildpath
.project
.metadata
data/**
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/target/

# Custom files
*.local
